<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="meta">
			<section name="sql" type="Meta.SQL.ConfigurationSection, Meta.SQL"/>
			<section name="web" type="Meta.Web.ConfigurationSection, Meta.Web"/>
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="logs" value="..\logs\"/>
		<add key="ToolUrl" value="http://css3.ps/"/>
	</appSettings>
	<meta>
		<sql>
			<server type="Meta.SQL.MSSQL2005.Database, Meta.SQL.MSSQL2005" initializeData="<connection string>"/>
		</sql>
		<web>
			<pages normalizeIndentation="true" urlResolveType="relative" />
		</web>
	</meta>
	<system.web>
		<pages autoEventWireup="true" masterPageFile="~/MasterPage.master" pageBaseType="Meta.Web.UI.Page" />
		<customErrors mode="Off" />
		<compilation debug="true" />
		<httpRuntime maxRequestLength="100000" />
	</system.web>
	<location path="Handler.ashx">
		<system.web>
			<pages validateRequest="false" />
		</system.web>
	</location>
</configuration>
